@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}


body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  widows: 100%; }



a {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
  /*color:#000000;*/
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; 
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

.main-header {
  position: relative;
  

  width: 100%;
  min-height: 55px;
  padding-top: 19px;
  padding-right: 6%;
  padding-left: 6%;
  background-color: #fff; }

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  z-index: 10; }

 .site-navigation {
 	display: flex;
 	/*justify-content: space-between;*/
	width: 100%;
 }

 .nav-item {
 	/*margin-left: 50px;*/
	text-align: right;
  	vertical-align: middle;
}

/*.nav-item:first-child,
.nav-item:nth-child(2) {
  text-align: left; }*/

.nav-item:first-child {
 	margin-right: 148px; 
 }

.nav-item:nth-child(2) {
  margin-right: 389px; 
}

.nav-item:nth-child(3) {
  margin-right: 163px; 
}

.main-navigation {
  color: #262626;

  background-color: #fff;
}



.site-navigation a {
	color: #262626;

	font-weight: 700;
}

.site-navigation a:hover,
.catalogs a:hover {
	color: #81b3d2 ;
}

.site-navigation a:focus {
	color: #766357 ;
}

.site-navigation a:active,
.catalogs a:active{
	color: rgba(0,0,0,0.3) ;
}

a.active{
  color: #9e897b; 
}

.mountains{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mountains-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #000000;
	width: 100%;
	min-height: 510px;
    background-image: url(../img/mask.png), url(../img/mountains.jpg);
    background-position: 0 100%, 100% 23%;
    background-size: 1200px 60px, 1200px 773px;
    background-repeat: no-repeat;
    align-items: center;
}


.mountains-tagline {
  width: 100%;
  background-color: #fff;

  display: flex;
  
  flex-direction: column;

  justify-content: center;
  
  align-items: center;
  padding-top: 60px;
  padding-bottom: 52px;
  margin-top: -1px; }

.page-title,
.page-advantage {
  margin: 0;
  padding: 0; }


.page-title {
	display: block;
    width: 38%;
    font-size: 21px;
    font-weight: 700;
	margin-bottom: 29px;
  	
  	line-height: 26px;
 	
 	text-align: center;
 	letter-spacing: .1px;
}

.page-advantage {
	font-size: 14px;
  	line-height: 26px;
 	text-align: center;
}

.advantages, .feature-list {
	display: flex;
}
.advantage {
	display: flex;
	flex-direction: column;
	align-items: center;
  	width: 400px;
  	text-align : center;
  	
}

.container {
	min-height: 256px;
}

.bottom-cont{
	min-height: 256px;
	background-color: #eeeeee;

}

.advantage-image img {
  height: 100%;
}

.feature-item{
	margin-left: 0;
	width: 400px;
}
/*.feature-list {
	padding-top: 160px;
	padding-left: 0;
	padding-bottom: 85px;
}*/


.advantage h3 {
	display: block;
	width: 160px;
	font-size: 21px;
  	line-height: 21px;
  	font-weight: 700;
 	text-align: center;
}

.advantage p {
	display: block;
	width: 290px;
	font-size: 14px;
  	line-height: 21px;
  	font-weight: 400;
  	color:#333333;
 	text-align: center;
}


.advantage-extend {
	color: #ffffff;
	background-color: #81b3d2;
}

.advantage-extend p{
	color:#ffffff;
}

.town-real {
  
  display: flex;
  
  flex-direction: column;
  
  justify-content: center;
  
  align-items: center;
  
  flex-basis: 33.3%;
  padding-top: 45px; 
}

.feature-item {
  padding-top: 58px;
  padding-bottom: 17px;
}

.feature-item::before {
    content: "";
    display: table; 
}

.feature-item-one::before {
	width: 75px;
	height: 72px;
	background-image: url("../img/icons/icon-1.svg"); 
}
.feature-item-two::before {
	width: 74px;
	height: 70px;
	background-image: url("../img/icons/icon-3.svg"); 
	}
.feature-item-three::before {
	width: 64px;
	height: 75px;
	background-image: url("../img/icons/icon-2.svg"); 
}

.town-tagline {
  display: block;
  width: 75%;
  text-align: center;
  margin-bottom: 60px; }


.feature-item h3{
	font-size: 21px;
  	line-height: 21px;
  	font-weight: 700;
 	text-align: center;
}

.feature-item p{
	font-size: 14px;
  	line-height: 21px;
  	
  	color:#333333;
 	text-align: center;
}

.interesting h2{
	font-size: 30px;
  	line-height: 36px;
  	font-weight: 700;
 	text-align: center;
}

.interesting p{
	font-size: 14px;
  	line-height: 24px;

 	text-align: center;
}

.button-interesting{

	font-size: 21px;
  	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	cursor: pointer;

	background-color: #766357;
	border: none;
	width: 567px;
	height: 88px;
}

.button-interesting:hover,
.prise a.button-detailed:hover{
	color: #ffffff;
	background-color: #604e43;
	
}

.button-interesting:focus,
.prise a.button-detailed:focus{

	color: rgba(255,255,255,0.3);
	background-color: #503e33;
	
}

.interesting-form{
	font-size: 14px;
  	line-height: 26px;
  	font-weight: 700;

}

.interesting-form input::-webkit-input-placeholder{
	font-size: 14px;
  	line-height: 26px;
  	font-weight: 700;
  	text-transform: uppercase;
  	color: #000000;
}

.interesting-form input{
	background-color:#f2f2f2;

}

.interesting-form input:hover{
	background-color:#ebebeb; 
}

.interesting-form input:focus{
	background-color:#ffffff;
	border-color:#e5e5e5; 
}

.find-button{
	font-size: 21px;
  	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	cursor: pointer;

	background-color: #81b3d2;
	border: none;
	width: 458px;
	height: 58px;
}

.find-button:hover,
.prise a.button-reservation:hover {
	color: #ffffff;
	background-color: #669ec0;
	
}
.find-button:focus,
.prise a.button-reservation:focus{
	color: rgba(255,255,255,0.3);
	background-color: #5496bd; 
	
}

.visit {
	font-size: 21px;
	font-weight: 700;
}

.sort-form fieldset {
  border: none;
}

.sort-form {
	background-color: #000000;
	background-image: url("../img/backgroundhotels.jpg");
	background-size: 1200px 250px;
	background-repeat: no-repeat;
	color: #ffffff;
}

.checkbox-item{
	line-height: 21px;
}


.sort-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.button-show{
	
	width: 137px;
	height: 36px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-color: #81b3d2;
	cursor: pointer; 
}


.sort-part-first b,
.catalogs h3{
	font-size: 21px;
	font-weight: 700;
}

.sort-part-second span{
	font-size: 12px;
	line-height: 18px;
}



.sort-item a{
	text-decoration: underline;
	font-size: 12px;
	line-height: 18px; 
	color:rgba(0,0,0,0.3);
	
	
}

.sort-item a:hover{
	color: #81b3d2;
}

.sort-item a:focus{
	text-decoration: none;
	color: #81b3d2;
}

.sort-item a:active{
	color: #000000;

}

.prise-items{
	line-height: 21px;
}

.button-reservation {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: #81b3d2;
	border: none;
}

.button-detailed {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: #766357;
	border: none;
}


.catalog-rating{
	width: 110px;
	min-height: 27px;
	color: #666666;
	text-align: center;

	vertical-align: middle;
	background-color: #f2f2f2;
}




.main-footer, .sort-form {
	display: flex;
	justify-content: space-around;
}

