@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
a {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 50px 5px #9c9ea5;
}
.main-header {
  position: relative;
  width: 100%;
  min-height: 55px;
  padding-top: 19px;
  padding-right: 6%;
  padding-left: 6%;
  background-color: #fff;
  box-sizing: border-box;
}
.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  z-index: 2;
}
.site-navigation {
  display: flex;
}
.nav-item {
  vertical-align: middle;
  width: 10%;
}
.nav-item:first-child {
  margin-right: 136px;
}
.nav-item:nth-child(2) {
  margin-right: 359px;
}
.nav-item:nth-child(3) {
  margin-right: 138px;
}
.nav-item:first-child,
.nav-item:nth-child(2) {
  text-align: left;
}
.nav-item:nth-child(3),
.nav-item:last-child {
  text-align: right;
}
.main-navigation {
  color: #262626;
  background-color: #fff;
}
.site-navigation a {
  color: #262626;
  font-weight: 700;
}
.nav-item a:hover,
.catalogs a:hover {
  color: #81b3d2;
}
.nav-item a:focus {
  color: #766357;
}
.nav-item a:active,
.catalogs a:active {
  color: rgba(0, 0, 0, 0.3);
}
.mountains {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mountains-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  min-height: 510px;
  background-image: url(../img/mask.png), url(../img/mountains.jpg);
  background-position: 0 100%, 100% 23%;
  background-size: 1200px 60px, 1200px 773px;
  background-repeat: no-repeat;
  align-items: center;
}
.mountains-tagline {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 59px;
  padding-bottom: 50px;
}
.page-title,
.page-advantage {
  margin: 0;
  padding: 0;
}
.page-title {
  display: block;
  width: 38%;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 29px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1px;
}
.page-advantage {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.advantages,
.feature-list {
  display: flex;
}
.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  text-align: center;
}
.bottom-cont {
  min-height: 256px;
  background-color: #eeeeee;
}
.advantage-image img {
  height: 100%;
}
.feature-item {
  margin-left: 0;
  width: 400px;
}
.advantage h3 {
  display: block;
  margin-bottom: 0;
  margin-top: 47px;
  width: 160px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}
.advantage p {
  display: block;
  width: 305px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.advantage > p {
  margin-bottom: 0;
  margin-top: 22px;
}
.advantage-extend {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantage-extend p {
  color: #ffffff;
}
.town-real {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 33.3%;
  padding-top: 45px;
}
.feature-item {
  padding-top: 58px;
  padding-bottom: 22px;
}
.feature-item::before {
  content: "";
  display: table;
}
.feature-item-one::before {
  width: 75px;
  height: 75px;
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
}
.feature-item-two::before {
  width: 75px;
  height: 75px;
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
}
.feature-item-three::before {
  width: 75px;
  height: 75px;
  background-image: url("../img/icons/icon-2.svg");
  background-position: 90%;
  background-repeat: no-repeat;
}
.town-tagline {
  display: block;
  width: 75%;
  text-align: center;
  margin-bottom: 60px;
}
.feature-item h3 {
  margin-top: 29px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}
.feature-item p {
  margin-top: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}
.interesting {
  position: relative;
}
.interesting-form {
  position: absolute;
  padding-left: 55px;
  padding-right: 55px;
  left: 315px;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  box-shadow: 8px 9px 22px 0px #9c9ea5;
}
.form-show {
  min-height: 395px;
}
.interesting h2 {
  margin-top: 50px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}
.interesting p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.people {
  display: flex;
  justify-content: space-between;
}
.button-interesting {
  margin-top: 33px;
  position: relative;
  left: 315px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #766357;
  border: none;
  width: 569px;
  height: 86px;
}
.interesting-form input::-webkit-input-placeholder {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.interesting-form input:-ms-input-placeholder {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.interesting-form input::-ms-input-placeholder {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.interesting-form input::placeholder {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.interesting-form input {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}
.interesting-form input:hover {
  background-color: #ebebeb;
}
.interesting-form input:focus {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.date-race {
  position: relative;
  margin-top: 55px;
}
.date-departure {
  position: relative;
  margin-top: 28px;
}
.date-race input,
.date-departure input {
  margin-left: 19px;
  box-sizing: border-box;
  width: 345px;
  padding: 5px 10px;
  padding-right: 40px;
}
.calendar {
  position: absolute;
  height: 33px;
  width: 33px;
  right: 4px;
  top: 4px;
  border: none;
  background-color: transparent;
}
.calendar:hover svg {
  fill: #000;
}
.calendar:active svg {
  fill: #81b3d2;
}
.people {
  margin-top: 27px;
  display: flex;
}
.form-block {
  display: flex;
  align-items: center;
}
.form-input-adults {
  width: 39px;
  height: 34px;
  text-align: center;
  font: inherit;
  border: none;
}
.form-button {
  padding: 0;
  width: 35px;
  height: 40px;
  color: #a9a9a9;
  font-weight: 700;
  font-size: 24px;
  line-height: 0px;
  border: none;
  background-color: #f2f2f2;
}
.form-button:hover {
  color: #000000;
}
.form-button:active {
  color: #81b3d2;
}
.form-text {
  margin-right: 42px;
}
.form-tex-right {
  margin-right: 28px;
}
.find-button {
  margin-top: 52px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #81b3d2;
  border: none;
  width: 458px;
  height: 58px;
}
.find-button:hover,
a.button-detailed:hover {
  color: #ffffff;
  background-color: #669ec0;
}
.find-button:focus,
a.button-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.button-interesting:hover,
a.button-reservation:hover {
  color: #ffffff;
  background-color: #604e43;
}
.button-interesting:focus,
a.button-reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.map {
  background-image: url(../img/map.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 471px;
}
.map iframe {
  width: 100%;
  min-height: 471px;
  border: 0;
}
.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: auto;
  padding-top: 32px;
  padding-bottom: 36px;
}
.social-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.social-button a:hover {
  background-color: #669ec0;
}
.social-button a:active {
  background-color: #5496bd;
}
.social-button a:active .footer-svg {
  fill: #88b6d1;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 156px;
}
.visit {
  margin-left: 17px;
  font-size: 21px;
  font-weight: 700;
}
.footer-social {
  margin-left: 25px;
}
.footer-copiright {
  display: flex;
  align-items: center;
  align-self: auto;
}
.footer-logo {
  position: relative;
  left: 4px;
  top: 1px;
}
.footer-logo:hover {
  fill: #81b3d2;
}
.footer-logo:active {
  fill: #c9c8c8;
}
.sort-form {
  display: flex;
  justify-content: space-between;
  padding-left: 61px;
  padding-right: 59px;
  padding-top: 29px;
}
.sort-form fieldset {
  border: none;
}
.sort-form {
  min-height: 190px;
  background-color: #000000;
  background-image: url("../img/backgroundhotels.jpg");
  background-size: 1200px 562px;
  background-repeat: no-repeat;
  color: #ffffff;
}
.checkbox-item {
  line-height: 21px;
}
.sort-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.filter-range {
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
}
.filter-range-title {
  margin-bottom: 4px;
}
.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls .max-price {
  padding-left: 56px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  background: none;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  border: 10px solid #ffffff;
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin-left: 85px;
  padding: 6px 35px;
  padding-right: 32px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.infrastructure,
.type-hotels {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
}
.hotels-second {
  width: 160px;
  margin-right: 208px;
}
.checkbox-item:first-child,
.checkbox-item:nth-child(2) {
  margin-bottom: 22px;
}
.checkbox-item {
  position: relative;
  cursor: pointer;
  padding-left: 40px;
}
.checkbox-item input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}
.checkbox-item input[type="checkbox"]:checked + .checkbox-indicator::before,
.checkbox-item input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}
.checkbox-item input[type="checkbox"] + .checkbox-indicator-fake {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icons/checkbox-on-fake.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}
.sort {
  display: flex;
  padding: 30px 73px;
}
.sort-list {
  display: flex;
  align-items: center;
  width: 278px;
  justify-content: space-between;
  margin-left: 2px;
}
.sort-item {
  margin-left: 35px;
}
.sort-part-second {
  display: flex;
  align-items: center;
  margin-right: 535px;
  margin-left: 47px;
}
.sort-part-third {
  position: relative;
}
.icon-up-dir {
  position: absolute;
  left: -33px;
  top: 9px;
}
.hover-svg:hover .icon-up-dir {
  fill: #000000;
}
.hover-svg:focus .icon-up-dir,
.hover-svg:active .icon-up-dir {
  fill: #81b3d2;
}
.icon-down-dir {
  position: absolute;
  left: -10px;
  top: 8px;
}
.hover-svg:hover .icon-down-dir {
  fill: #000000;
}
.hover-svg:focus .icon-down-dir,
.hover-svg:active .icon-down-dir {
  fill: #81b3d2;
}
.sort-part-first b,
.catalogs h3 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.price a h3 {
  color: #000000;
  transition-duration: 0.5s;
}
.price a h3:hover {
  color: #81b3d2;
}
.price a h3:active {
  color: rgba(0, 0, 0, 0.3);
}
.sort-part-second span {
  font-size: 12px;
  line-height: 18px;
}
.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}
.sort-item.active a {
  color: #81b3d2;
  border-bottom: none;
}
.sort-item a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.sort-item a:active {
  border-bottom: none;
  color: #000000;
}
.catalogs {
  display: flex;
  justify-content: space-between;
}
.catalog-item {
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 73px;
  padding-right: 73px;
}
.catalog-item:first-child,
.catalog-item:last-child {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.button-reservation {
  padding: 3px 16px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  transition-duration: 0.5s;
}
.button-detailed {
  padding: 3px 16px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  transition-duration: 0.5s;
}
.price {
  margin-right: 493px;
  width: 257px;
}
.price-item {
  display: flex;
  justify-content: space-between;
}
.price-buttons span {
  display: block;
  margin-top: 6px;
}
.price-buttons a {
  margin-top: 14px;
}
.catalog-rating {
  width: 110px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.hotels-list {
  display: flex;
  justify-content: space-between;
}
.hotels-rating-item {
  margin-left: 5px;
}
.rating-item {
  padding: 3px 13px;
  color: #666666;
  background-color: #f2f2f2;
}
